html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  /* background-image: url("sprites/bg2.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

canvas{
  display: block;
  border: 10px ridge rgb(255, 255, 255);
}